
/* Overlay */
.window-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 998;
}

/* Window */
.window-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: #14B8A6;
    border: 3px solid black;
    box-sizing: border-box;
    z-index: 999;
    border-radius: 8px;
    padding: 1em;
    overflow: hidden;
}

.window-container-default{
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
}

/* Containers */
.window-return-button{
    position: absolute;
    top: 0;
    right: 0;
    width: 3em;
    height: 2.5em;
    background-color: #29D9C6;
    border-radius: 0 0 0 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0em .2em .1em rgb(0, 0, 0, .4);
}

.window-return-button:hover{
    background-color: #00FFE4;
}

.window-return-button img{
    padding-left: .3em;
    padding-bottom: .1em;
}

/* Responsive */
@media screen and (max-width : 100em){
    .window-container-default{
        top: 40%;
        height: 70%;
    }
}
