
/* Inputs */

.si-up-in-inputs{
    width: 20em;
    border-radius: 1em;
    height: 1.6em;
    padding: 0.6em 1em;
    font-family: var(--FONT-KOTTA-ONE);
    border-color: transparent;
    box-shadow: inset .3em .3em rgba(0, 0, 0, 0.4);
}

/* Buttons */

.si-up-in-buttons{
    font-size: 1em;
    width: 8em;
    height: 2em;
    margin: 0 2em;
    border-radius: 20px;
    border-color: transparent;
    background-color: #71D6DF;
    box-shadow: 0em .5em .5em rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-family: var(--FONT-INRIA-SANS);
}

.si-up-in-buttons:hover{
    background-color: #D2EBFF;
}

/* Text */

.sig-up-in-header{
    font-family: var(--FONT-KRONA-ONE);
}
