
.basic-input-cont{
    min-width: 17em;
    box-sizing: content-box;
}

.basic-input-cont p{
    margin: 0;
    font-family: var(--FONT-MULISH);
    color: white;
    padding-left: 12%;
    text-align: start;
    user-select: none;
}

.basic-input-cont input{
    width: 100%;
    padding: .3em 1em;
    font-family: var(--FONT-INRIA-SANS);
    box-shadow: inset .2em .2em .1em rgb(0, 0, 0, .4);
    border-color: transparent;
    border-radius: 2em;
    box-sizing: border-box;
}