
.heading-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading{
    font-family: var(--HEADING-FONT);
    font-weight: 400;
    color: white;
    margin: 0;
    margin-bottom: .3em;
    padding: 0 .5em;
    user-select:  none;
}

.heading-line{
    width: 98%;
    height: .1em;
    background-color: white;
    border-radius: 2em;
    margin: 0 auto;
    margin-bottom: .6em;
}

/* Buttons */
.heading-button{
    display: flex;
    background-color: #4598D5;
    padding: .5em;
    border-radius: 1em;
    cursor: pointer;
}

.heading-button:hover{
    background-color: #D2EAFF;
}

/* Images */
.heading-button img{
    size: 1em;
}