
/* Containers */
.patient-study-container{
    display: grid;
    grid-template-columns: 32% auto;
    column-gap: 4em;
    height: 100%;
    padding: 3em;
    box-sizing: border-box;
}

.studies-list-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.studies-list{
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 85%;
    border-radius: 1em;
    overflow: hidden;
}

.studies-list-search{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .5em;
    background-color: #107469;
    box-sizing: border-box;
}

.studies-list-search input{
    background-color: transparent;
    border: none;
    font-family: var(--FONT-MULISH);
    font-size: 1.2em;
    color: white;
}

.studies-list-search div{
    min-height: .1em;
    border-radius: 1em;
    background-color: white;
}

.studies-list-items{
    max-height: 554.8px;
    overflow: hidden;
    overflow-y: scroll;
}

.studies-selected-cont{
    display: flex;
    flex-direction: column;
    background-color: #D4FFEC;
    border-radius: 2em;
    overflow: hidden;
}

.selected-studies{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2.5em;
    row-gap: 2em;
    justify-content: center;
    padding: 1em;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;
}

.selected-studies-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    background-color: #99EFE6;
    box-shadow: 0 .1em .4em .8em rgb(0, 0, 0, .4);
}

/* Lists */
.studies-list-items ul{
    margin: .3em 0;
    padding-left: 2em;
}

.studies-list-items li{
    margin: .8em 0;
    padding: 0 1em;
    transition: background-color ease-in 70ms;
}

.study-item{
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    cursor: pointer;
}

.studies-list-items li:hover{
    background-color: #CFCFCF;
}

/* Buttons */
.study-item button{
    background-color: transparent;
    border: none;
    font-size: 1.1em;
    border-radius: 2em;
    padding: .1em .6em;
    cursor: pointer;
}

.study-item button:hover{
    background-color: rgb(105, 224, 141);
}

/* Text labels */
.study-item span{
    font-family: var(--FONT-INRIA-SANS);
    font-size: 1.3em;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* Inputs */
.studies-list-search input::placeholder{
    color: white;
}

/* Responsive */
@media screen and (max-width : 100em){
    .studies-list-items{
        max-height: 418.8px;
    }
    
}