
/* Containers */
.study-card-container{
    position: relative;
    width: 10em;
    height: 18em;
    border-radius: 1em;
    overflow: hidden;
    box-sizing: border-box;
}

.study-card-background{
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    transform: scale(1.1);
    z-index: 0;
    transition: filter ease 100ms;
}

.study-card-container:hover .study-card-background{
    filter: blur(2px);
}

.study-card-button{
    position: absolute;
    top: 0;
    z-index: 994;
    width: 1.7em;
    height: 1.7em;
    border-radius: 3em;
}

.study-card-exit-button{
    right: 0;
    background-color: red;
}

.study-card-edit-button{
    background-color: #0095FF;
}

/* Images */
.study-card-option{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6em;
    box-sizing: border-box;
}