
/* Containers */

.patient-agenda-cont{
    height: 100%;
    overflow-y: auto;
    padding: 1em 1em 0 1.3em;
}

.patient-agenda-datenotes{
    min-height: 2em;
    padding: 1em;
    background-color: white;
    box-sizing: border-box;
    margin-bottom: 2em;
    border-radius: 2em;
}




