@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kotta+One&family=Krona+One&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
  --WIDTH-MAIN: 100em;
  --WIDTH-PATIENT-SIDEBAR: 16%;
  
  --FONT-KRONA-ONE: "Krona One";
  --FONT-MULISH: "Mulish";
  --FONT-KOTTA-ONE: "Kotta One";
  --FONT-INRIA-SANS: "Inria Sans";
  --FONT-INTER: "Inter";

  --COLOR-DASHBOARD: #14B8A6;

  --HEADING-FONT: var(--FONT-MULISH)
}

@media screen and (max-width: 100em){
    :root{
      --WIDTH-MAIN: 75em;
      --WIDTH-PATIENT-SIDEBAR: 22%;
    }
}

.basic-container{
  background-color: white;
  border-radius: 2em;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
}

.main-container{
    background-color: #14B8A6;
    width: var(--WIDTH-MAIN);
    margin: 0 auto;
    padding-bottom: 1.8em;
    border-radius: 0 0 2em 2em;
    margin-bottom: 3em;
    box-shadow: 0 1em .9em rgb(0, 0, 0, .4);
}

.basic-button{
  font-family: var(--FONT-INRIA-SANS);
  font-size: 1em;
  cursor: pointer;
  background-color: #51A9E9;
  border-color: transparent;
  border-radius: 2em;
  height: 2.2em;
  padding: .2em 1.5em;
  box-sizing: border-box;
  box-shadow: 0 .5em .5em rgb(0, 0, 0, .4);
}

.icon-button{
  padding: .2em .4em;
  min-width: 1em !important;
}

.table-button{
    box-shadow: none;
} 

.basic-button:hover{
  background-color: #D2EAFF;
}

.input-container{
  display: flex;
  flex-wrap: wrap;
  row-gap: 4em;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
}

body{
  background-color: #DAEBFF;
  margin: 0;
  padding: 0;
}