@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kotta+One&family=Krona+One&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
  --WIDTH : 75em;
  
  --FONT-KRONA-ONE: "Krona One";
  --FONT-MULISH: "Mulish";
  --FONT-KOTTA-ONE: "Kotta One";
  --FONT-INRIA-SANS: "Inria Sans";
  --FONT-INTER: "Inter";

  --COLOR-DASHBOARD: #14B8A6;
}

body{
  background-color: #DAEBFF;
  margin: 0;
  padding: 0;
}