
.patient-container{
    display: grid;
    grid-template-columns: var(--WIDTH-PATIENT-SIDEBAR) auto;
    padding-bottom: 0;
}

.patient-content{
    height: 50em;
}

@media screen and (max-width: 100em){
    .patient-content{
        height: 40em;
    }
}