
/* Containers */
#dash-search-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35em;
}

#patients-table{
    width: 100%;   
}

/* Input */
#dash-search-input{
    width: 25em;
    height: 1.3em;
    padding: .3em 1.4em;
    border-radius: 2em;
    border-color: transparent;
    font-family: var(--FONT-KOTTA-ONE);
}

/* Buttons */
.table-button{
    box-shadow: none;
}

/* Grid */
.patients-cont{
    border-radius: 0 0 2em 2em;
    height: 20em;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
}

#patients-grid{
    border: 1px solid black;
}

.patients-row{
    display: grid;
    grid-template-columns: 20em 15em 15em auto;
    width: 100%;
    height: 2em;
}

.patients-content{
    height: 2.7em;
}

.patients-row div{
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    font-family: var(--FONT-MULISH);
}

.patients-content div{
    font-family: var(--FONT-KOTTA-ONE);
}

.patients-content-1st{
    justify-content: start !important;
    padding-left: 1em;
}

.patients-content-3st{
    justify-content: space-evenly !important;
    padding-left: 1em;
}