
/* Container */
.patients-cont{
    border-radius: 0 0 2em 2em;
    height: 20em;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
}


/* Grid */
.patients-grid{
    display: grid;
    grid-template-columns: 30% 20% 20% auto;
    grid-template-rows: 2em auto;
    width: 100%;
}

.patients-grid div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
}

.patients-grid-header{
    font-family: var(--FONT-MULISH);
    height: 2em;
}

.patients-grid-content{
    font-family: var(--FONT-KOTTA-ONE);
    height: 2.5em;
    display: flex;
    justify-content: space-evenly !important; 
}

.patients-grid-content button{
    min-width: 7em;
}

.patients-column-1{
    justify-content: start !important;
    padding-left: 1em;
}

.patients-column-3{
    justify-content: space-evenly !important;
}